body{
  margin: 0;
  background-color: black;
  color: white;
  font-size: 12px;
}

h1, h2{
  margin: 0;
  text-align: center;
}

.container{
  width: 100%;
}


.navigation{
  display: none;
}

#Brief img{
  margin-left: 10px;
  height: 80px;
  border-radius: 50%;
  float: left;
}

.clear{
  clear: both;
}

h3{
  color: darkblue;
}


.content > div:hover{
  animation:  empisize-div 5s both;
}

@keyframes empisize-div {
  0%{
    background-color: rgba(255,255,255,0.1);
    color: white;
  }

  20%{
    background-color: rgba(255,255,255,0.3);
    color: black;
  }

  100%{
    background-color: rgba(255,255,255,0.4);
    color: black;
  }
}

.brief-list ul li{
  list-style-image: url("../../resources/checked-small.png");
  margin-bottom: 2%;
}

/* ##############
    skills sytles
#################*/

.skills-scales{
  display: flex;
}

.skills-scales ul{
  margin: 0;
  flex-grow: 1;
}

.skills-scales ul li{
  list-style: none;
}

.scale{
  margin-left: 10px;
  margin-bottom: 3px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: grey;
}

.fill{
  background-color: red;
  position: absolute;
  display: inline-block;
  height: 5px;
}

.width90{
  width: 90%;
}

.width75{
  width: 75%;
}

.width65{
  width: 65%;
}

.width80{
  width: 80%;
}

.width25{
  width: 25%;
}
/* ###############
    Studies sytles
##################*/

.tree-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.tree-container img{
  height: 30px;
  width: 30px;
}

.line{
  height: 30px;
  border-left: 3px dashed grey;
}

.tree-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.tree-item div{
  width: 50%;
  margin-left: 5px;
  flex-grow: 1;
}

.tree-item div:nth-child(1){
  margin-left: 0;
  margin-right: 5px;
  text-align: end;
}

/* ##################
  Projects sytles
#####################*/

#Projects a{
  color: inherit;
  text-decoration: none;
}


/* ##################
  Achievements sytles
#####################*/

#Achievements ul li{
  list-style-image: url("../../resources/trophy.png");
  margin-bottom: 2%;
}

/* #################
    Contact me sytles
####################*/
.ContactMe-links img{
  height: 35px;
}
